.newcollection{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.newcollection h1{
    color: #171717;
    font-weight: 600;
    font-size: 50px;
}
.newcollection hr{
    width: 230px;
    height: 6px;
    border-radius: 10px;
    background: #ff4141;
    margin: 10px  0 30px;
}
.collection-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -30px;

}
.collections{
    width: 90vw;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    padding-left: 40px;
}